body {
    #footer{
        background-color: #0e6df0;
        padding: 25px 7.5%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        p {

        }
    }
}