body {
    #home {
        #login {
            display: block;
            position: absolute;
            top: 10px;
            right: 30px;
            background-color: #ffffff00;
            color: white;
        }
        #hero {
            box-sizing: border-box;
            overflow-x: hidden;
            height: 100vh;
            background-image: url(../assets/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:  top;
            margin-bottom: 3rem;
            display: flex;
            color: white;

            .gif {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                width: auto;
                animation-name: mainAnimation;
                animation-duration: 2.65s;
                animation-delay: 0.25s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-fill-mode: forwards;
            }

            @keyframes mainAnimation {
                 90% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

            #heroLeft {
                width: 60vw;
                height: 100vh;
                padding: 5vw 5vw 5vw 10vw;
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;

                @keyframes slideLefts {
                    0% {transform: translateX(-100vw);}
                    70% {transform: translateX(40px);}
                    100% {transform: translateX(0);}
                }
                img {
                    position: relative;
                    animation: slideLefts ease;
                    animation-duration: 1.75s;
                    animation-fill-mode: both;
                    animation-delay: 2.55s;  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                } 
                h1 {
                    position: relative;
                    font-size: 32px;
                    font-weight: 700;
                    animation: slideLefts ease;
                    animation-duration: 1.75s;
                    animation-delay: 2.8s; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    animation-fill-mode: both;
                    margin: 10px 0;
                }
                p {
                    position: relative;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.75rem;
                    animation: slideLefts ease;
                    animation-duration: 1.75s;
                    animation-delay: 3s;  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    animation-fill-mode: both;
                }
               
            }
            #heroRight {
                width: 40vw;
                justify-self: center;
                align-self: center;
                
                img {
                    position: relative;
                    animation: slideRight 2.55s ease;
                    animation-fill-mode: backwards;
                    animation-delay: 2.35s;
                }
                // @keyframes slideRight {
                //     0% {transform: translateX(100vw);}
                //     60% {transform: translateX(-40px);}
                //     82% {transform: translateX(6px);}
                //     100% {transform: translateX(0);}
                // }
                @keyframes slideRight {
                    0% {transform: translateX(250vw);}
                    68% {transform: translateX(-70px);}
                    // 82% {transform: translateX(8px);}
                    100% {transform: translateX(0);}
                }
            }

        }
        #introduction {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 7.5% 5% 7.5%;

            
            .enTete {
                padding-bottom: 3rem;
            }
            h2 {
                color: #0e6df0;
                font-size: 32px;
                font-weight: 700;
            }
            #connexion {
                margin-top: 75px;
                text-align: center;
            }
            
            #sub {
                display: flex;
                flex-direction: row;
                p{
                    padding-bottom: 1.5rem;
                }
                #subUser {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 350px;
                    padding-right: 3%;
                    
                    Link {
                        position: relative;
                        bottom: 0;
                    }
                }
                #subStore {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 350px;
                    padding-left: 3%;
                    
                    Link {
                        position: relative;
                        bottom: 0;
                    }
                }
            }

        }
        #partners {
            padding: 0 7.5% 2.5% 7.5%;
            display: flex;
            justify-content: space-around;

            .swiper-wrapper {
                text-align: center;
                img {
                    width: 7.5vw;
                    padding: 10px;
                    margin-bottom: 0.5rem;
                    border-radius: 20px;
                    background: #c9c9c9;
                }
                p {
                    font-size: 0.8rem;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}

[data-animation] {
    animation:
    var(--animn, none)
    var(--animdur, 1s)
    var(--animtf, linear)
}